:root {
    --content-bg: #000000;
    --content-font-color: #FFFFFF;
    --content-list-font-color: #6700ee;
    --twitter-color: #00ACEE;
    --github-color: #2B3137;
    --instagram-color: #E1306C;
    --youtube-color: #FF0000;
    --linkedin-color: #0E76A8;
    --star-btn-bg: #202020;
    --star-btn-bg-hover: #FFD700;
}