:root {
    --psdclss-heigth: 5px;
    --psdclss-width: 25px;
    --psdclss-clip: polygon(0% 0%, 80% 0%, 100% 100%, 20% 100%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 50px;
    background: var(--content-bg);
}

button {
    position: relative;
    width: 250px;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: var(--content-list-font-color);
    color: var(--content-font-color);
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: background 500ms;
    cursor: pointer;
}

button:hover {
    background: none;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background: var(--content-bg);
    color: var(--content-bg);
    height: var(--psdclss-heigth);
    width: var(--psdclss-width);
    clip-path: var(--psdclss-clip);
    margin-left: 10%;
    transition: margin-left 500ms;
}

button:hover::before {
    margin-left: 80%;
}

button::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    background: var(--content-bg);
    color: var(--content-bg);
    height: var(--psdclss-heigth);
    width: var(--psdclss-width);
    clip-path: var(--psdclss-clip);
    margin-right: 10%;
    transition: margin-right 500ms;
}

button:hover::after {
    margin-right: 80%;
}

span {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid var(--psdclss-heigth);
    width: 100%;
    height: 100%;
    border-radius: 10px;
}